<div class ="container">
  <div class="row row-cols-2" >
    <div class="col">
      <h2>Openings</h2>
      <% if current_user.admin==true %>
        <% @myOpenings=@openings.where(:userid => current_user.id) %>
      <% else %>
        <% @myOpenings=@openings %>
      <% end %>
      <br>
      <% if current_user.admin? %>
        <%= link_to "New Opening", new_opening_path, class:"btn btn-primary" %>
      <% end %>
      <br><br>
      <ul class="list-group">
        <% @myOpenings.each do |opening| %>
          <li class="list-group-item">
              <%=link_to opening.title,opening, style:"text-decoration:none;"%>
          </li>
        <% end %> 
      </ul>
    </div>
    <div class = "col">
      <% if !current_user.admin?%>
        <h2>My applications</h2>
        <br>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Opening Name</th>
              <th>NGO/Corporate</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @allOpportunites = Opportunity.where(:uid => current_user.id) %>
            <% @allOpportunites.each do |u| %>
              <tr>
                <td><%= Opening.find(u.opid).title %></td>
                <td><%= Userdetail.find_by(uuid:Opening.find(u.opid).userid).name%></td>
                <td><% if u.status? %>
                      Approved
                    <% else %>
                      Pending
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
