<h1>Openings</h1>

<ul>
  <% @openings.each do |opening| %>
    <li>
        <%=link_to opening.title,opening%>
    </li>
  <% end %> 
</ul>
<% if current_user.admin? %>
<%= link_to "New Opening", new_opening_path %>
<% end %>