<h1>Openings</h1>

<% if current_user.admin==true %>
  <% @myOpenings=@openings.where(:userid => current_user.id) %>
<% else %>
  <% @myOpenings=@openings %>
<% end %>


<div class="list-group">
  <% @myOpenings.each do |opening| %>
    <li class="list-group-item list-group-item-success">
        <%=link_to opening.title,opening%>
    </li>
  <% end %> 
</div>

<% if current_user.admin? %>
<%= link_to "New Opening", new_opening_path %>
<% end %>