<h1>About App</h1>
<p style="display: flex;justify-content: center; font-size:25px">Our Mission is to bring volunteers and organisations together to share time, skills and passion to promote India's social development. 

JanSeva App delivers impact in various social development areas as- Education, Poverty Alleviation, Environment, Health, HIV-AIDS, Gender Equality, Human Rights, Disability, Youth Welfare, Elderly Welfare, Child Welfare & Active Citizenship etc. It achieves its mission by working closely with these volunteers at one end and with organisations that work on these impact areas at the other end.
</p>
